<div class="max-w-lg mx-auto p-6 bg-white dark:bg-gray-800 shadow-lg rounded-lg">
  <h2 class="text-2xl font-bold mb-4 text-center text-black dark:text-white">Configurer le Quiz</h2>

  <form [formGroup]="quizForm" (ngSubmit)="startQuiz()" class="space-y-4">
    <div>
      <label class="block font-medium text-black dark:text-white">Nom et Prénom</label>
      <input type="text" formControlName="name"
             class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-400 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
    </div>

    <div>
      <label class="block font-medium text-black dark:text-white">Nombre de Questions</label>
      <input type="number" formControlName="numberOfQuestions" min="5" max="20"
             class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-400 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
    </div>

    <div>
      <label class="block font-medium text-black dark:text-white">Catégorie</label>
      <select formControlName="category"
              class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-400 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
        <option *ngFor="let cat of categories" [value]="cat.id">{{ cat.name }}</option>
      </select>
    </div>

    <div>
      <label class="block font-medium text-black dark:text-white">Type de réponse</label>
      <div class="flex gap-4">
        <label class="text-black dark:text-white">
          <input type="radio" formControlName="questionType" value="multiple"
                 class="dark:bg-gray-700 dark:ring-gray-600 dark:text-white focus:ring-blue-500">
          Choix multiple
        </label>
        <label class="text-black dark:text-white">
          <input type="radio" formControlName="questionType" value="boolean"
                 class="dark:bg-gray-700 dark:ring-gray-600 dark:text-white focus:ring-blue-500">
          Vrai/Faux
        </label>
      </div>
    </div>

    <div>
      <label class="block font-medium text-black dark:text-white">Difficulté</label>
      <select formControlName="difficulty"
              class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-400 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
              required>
        <option value="easy">Facile</option>
        <option value="medium">Moyen</option>
        <option value="hard">Difficile</option>
      </select>
    </div>

    <button type="submit"
            class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 dark:bg-blue-700 dark:hover:bg-blue-600
                   disabled:opacity-50 disabled:cursor-not-allowed"
            [disabled]="!quizForm.valid">
      Démarrer le Quiz
    </button>
  </form>
</div>
